# Node
node_modules/
dist/
build/
pnpm-lock.yaml
package-lock.json
yarn.lock


*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*
*.env

# OS files
.DS_Store
Thumbs.db

# VR/Unity
Library/
Temp/
Obj/
Build/
Logs/
MemoryCaptures/
UserSettings/
.vscode/
.idea/

outputs/
